<div class="container">
  <div class="slide">
      <img class="cImg" src="japan5.JPEG" id="lastClone">
      <img class="cImg" src="japan1.jpg">
      <img class="cImg" src="japan3.JPEG">
      <img class="cImg" src="japan4.JPEG">
      <img class="cImg" src="spain1.JPEG">
      <img class="cImg" src="spain2.JPEG">
      <img class="cImg" src="spain3.JPEG">
      <img class="cImg" src="thai5.JPEG">
      <img class="cImg" src="thai7.JPEG">
      <img class="cImg" src="japan5.JPEG">
      <img class="cImg" src="japan1.jpg" id="firstClone">
  </div>
</div>

<button id="prevButt" class="butt">Prev</button>
<button id="nextButt" class="butt">Next</button>

<h1 id="mainIntro"> Fish out of water </h1>
<h2 id="mainSubtitle">Itineraries and tips for the American traveling overseas.</h2>

<dev class="frontPara">
<h3>Quick Points on this Website:</h3>
<ul class="mainPoints">
	<li class="front">-Maps showing major cities being discussed are available for downloads on each page</li><br>
    <li class="front">-Please vote below to tell me which location you would like on this site next.</li><br>
    <li class="front">-Google Translate is the most amazing tool for traveling in locations where you don't speak the language.</li><br>
    <li class="front">-Its always best to learn some of the basics before you go like, "hello", "please", "thankyou".</li><br>
    <li class="front">-Figuring out transportation is one of best things to do before trips where you are a fish out of water.</li><br>
    <li class="front">-When in doubt, smile.</li><br>
</ul>
</dev>
<form action='http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php' method='post' id='voteForm'>
    <fieldset>
    <label for='name'>Where should I travel next?:</label>
    <ul class="form">
        <label for="vote"> Type in a Country: </label>
	    <input type="text" id="vote" name="userVote">
        <input type='submit' name='vote'>
    </ul>
    </fieldset>
</form>

