<img class="introPic" src="japan3.JPEG">
<h1 class="pageTitle">Japan</h1>

<span class="scrollbox">
<h2 class=highlight>Highlights:</h2>
<ul class="scrollBox">
    Osaka Airport<br>
    1. Osaka<br>
        <ul>
        <li>-Osaka Castle</li>
        <li>-Downtown Shopping District</li>
    </ul>
    2. Kyoto<br>
        <ul>
        <li>-Gion Corner</li>
        <li>-Shimogamo-Jinja Shrine</li>
        <li>-Imperial Palace</li>
        <li>-Nijo Castle</li>
        <li>-Nishiki Market</li>
        <li>-Fushimi Inari Temple and hike</li>
    </ul>
    3. Nara<br>
        <ul>
        <li>-Nigatsu-Do Temple</li>
        <li>-Todai-Ji Temple</li>
    </ul>
    4. Takayama<br>
        <ul>
        <li>-Hida Kokubunji Temple</li>
        <li>-Historic Sanmachi Suji</li>
        <li>-Yoshijima Heritage House</li>
        <li>-Hida Folk Village</li>
    </ul>
    5. Tokyo
        <ul>
        <li>-Imperial Palace</li>
        <li>-Akihabara</li>
        <li>-Epson Teamlab Borderless Digital Art Museum</li>
        <li>-Hozomon Gate</li>
        <li>-Senso-Ji Shrine</li>
        <li>-Shinjuku</li>
    </ul>
</ul>

<a class="btn" href="files/JapanMap.pdf" download> Download Map</a>
</span>

<span class=mainPoints>
<h3>Quick Points:</h3>
<ul class="mainPoints">
	<li class="point">Currency is Yen</li><br>
    <li class="point">Everything is super clean!!</li><br>
    <li class="point">People are friendly but can come across as reserved</li><br>
    <li class="point">Not a lot of english speakers here and english signage is so-so.</li><br>
    <li class="point">Great transportation system. Trains get you most places.</li><br>
    <li class="point">Very safe country!  Great for pedestrians!</li><br>
</ul>
</span>

<div class="mainInfo">
<h4>Osaka</h4>
<div class="beginPic">
    <img src="japanPics/osaka2.jpg" style=height:250px; width:250px;>
    <img src="japanPics/osaka4.jpg" style=height:250px; width:250px;>
    <img src="japanPics/osaka5.jpg" style=height:250px; width:250px;>
    <img src="japanPics/osaka6.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    Flying in to Osaka is usually your best bet for the cheapeast flight into or our of of Japan. I quickly realized
    upon landing, that the language barrier would be a real issue in this country.  Without the benefit of 
    a latin alphabet, it wasn't even possible to attempt to guess the meaning of signs or words and I couldn't
    just type a word into a translator on my phone. You are completely at the mercy of the google translate app and 
    potentially badly worded english translations on public signage. Thankfully, the airport, like most of Japan, 
    has great transportation options.  A short train ride from the airport and I was close enought to walk to my hotel.
     
    <h5>Osaka Castle <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g14127623-d320970-Reviews-Osaka_Castle-Chuo_Osaka_Osaka_Prefecture_Kinki.html  style="font-size: 15px; color:darkgray">Osaka Castle Reviews</a></h5>
    <p>This was my first stop in Osaka and it is well worth a visit.  I didn't buy a lot of tickets in advance for this trip
    and my ability to enter this castle was one of the casualties of that decision.  Despite not going inside, I was still
    in heaven looking at this thing from the outside.  Be prepared to take lots of pictures and to walk a lot.  The grounds
    are huge!</p>
    <h5>Downtown Shopping District <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g298566-d1407290-Reviews-Shinsekai-Osaka_Osaka_Prefecture_Kinki.html style="font-size: 15px; color:darkgray">Downtown Reviews</a></h5>
    <p>I only spent a day in Osaka.  This was enough to visit the Castle and walk around the downtown shopping district.
    Just these two activites takes up the whole day. I didn't end up buying anything, but this downtown area was
    so much fun just to walk through! It is a window shoppers dream.</p>
</p>
<h4>Kyoto</h4>
<div class="beginPic">
    <img src="japanPics/kyoto1.JPEG" style=height:250px; width:300px;>
    <img src="japanPics/kyoto2.JPEG" style=height:250px; width:250px;>
    <img src="japanPics/kyoto5.JPG" style=height:250px; width:300px;>
    <img src="japanPics/kyoto7.JPEG" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    <h5>Gion Corner <a href=https://www.tripadvisor.com/Attraction_Review-g298564-d324291-Reviews-Gion_Corner-Kyoto_Kyoto_Prefecture_Kinki.html style="font-size: 15px; color:darkgray">Gion Corner Reviews</a></h5>
    <p>I spend a few hours here walking around.  I found the streets charming and the architecture fascinating.  There are several
        old school Japanese theaters that I would have loved to catch a traditional Japanese play at but tickets were sold out so
        that is something that should be bought in advance if you are interested. You will most likely see a Geisha or two 
        walking around this area which just adds to the experience.
    </p>
    <h5>Shimogamo-Jinja Shrine <a href=https://www.tripadvisor.com/Attraction_Review-g298564-d1198391-Reviews-Shimogamo_Jinja-Kyoto_Kyoto_Prefecture_Kinki.html style="font-size: 15px; color:darkgray">Shimogamo-Jinja Shrine Reviews</a></h5>
    <p> Per Wikipedia, "One of the oldest Shinto shrines in Japan, Shimogamo Shrine is one of a pair alongside Kamigamo Shrine that was constructed in the sixth and seventh centuries in order to protect against malign influences.  
        One of seventeen UNESCO World Heritage Sites in Kyoto, the shrine complex is surrounded by the Tadasu no Mori forest that shelters visitors in a world of green and winding streams as well as a small shrine used to pray for beauty. "
    </p>
    <h5>Imperial Palace <a href= https://www.tripadvisor.com/Attraction_Review-g298564-d321088-Reviews-Kyoto_Imperial_Palace-Kyoto_Kyoto_Prefecture_Kinki.html style="font-size: 15px; color:darkgray">Imperial Palace Reviews</a></h5>
    <p> Per Wikipedia, " is the former ruling palace of the Emperor of Japan. Since the Meiji Restoration in 1869, the Emperors have resided at the Tokyo Imperial Palace, while the preservation of the Kyoto Imperial Palace was ordered in 1877."
    </p>
    <h5>Ninjo Castle  <a href=https://www.tripadvisor.com/Attraction_Review-g298564-d321408-Reviews-Nijo_Castle-Kyoto_Kyoto_Prefecture_Kinki.html style="font-size: 15px; color:darkgray">Ninjo Castle Reviews</a></h5>
    <p> Per Tripadvisor, "One can visit various temples in Kyoto but the ultimate is to visit Nijo Castle. This amazing compound was built in 1603 by the Tokugawa Ieyasu a very powerful shogun. The compound consists of three distinctive 
        area, Ninomaru Palace, the Honmaru compond and the garden area."
    </p>
    <h5>Nishiki Market <a href=https://www.tripadvisor.com/Attraction_Review-g298564-d554672-Reviews-Nishiki_Market_Shopping_District-Kyoto_Kyoto_Prefecture_Kinki.html style="font-size: 15px; color:darkgray">Nishiki Market Reviews</a></h5>
    <p>Per Japan-Guide.com, "Nishiki Market (錦市場, Nishiki Ichiba) is a narrow, five block long shopping street lined by more than one hundred shops and restaurants. Known as "Kyoto's Kitchen", this 
        lively retail market specializes in all things food related, like fresh seafood, produce, knives and cookware, and is a great place to find seasonal foods and Kyoto specialties, such as Japanese 
        sweets, pickles, dried seafood and sushi."
    </p>
    <h5>Fushimi Inari Shrine and hike <a href=https://www.tripadvisor.com/Attraction_Review-g298564-d321456-Reviews-Fushimi_Inari_taisha_Shrine-Kyoto_Kyoto_Prefecture_Kinki.html style="font-size: 15px; color:darkgray">Fushimi Inari Temple Reviews</a></h5>
    <p>
        Easily one of my favorite places in Japan!! The shrine itself is amazing. Tons of cool venders abound as you walk up to the
        shrine itself.  So many cool things to look at and interesting smells to take in.  After walking around the main shrine,
        the hike begins.  The view at the top is beautiful along with the sense of accomplishment when you make it to the summit.
    </p>
</p>
<h4>Nara</h4>
<div class="beginPic">
    <img src="japanPics/nara1.jpg" style=height:250px; width:250px;>
    <img src="japanPics/nara2.jpg" style=height:250px; width:250px;>
    <img src="japanPics/nara3.jpg" style=height:250px; width:250px;>
    <img src="japanPics/nara4.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    <h5>Nigatsu-Do Temple <a href=https://www.tripadvisor.com/Attraction_Review-g298198-d319883-Reviews-Nigatsu_do_Temple-Nara_Nara_Prefecture_Kinki.html style="font-size: 15px; color:darkgray"></a></h5>
    <p> Per Wikipedia, "Nigatsu-dō (二月堂, "The Hall of the Second Month") is one of the important structures of Tōdai-ji, a temple in Nara, Japan. 
        Nigatsu-dō is located to the east of the Great Buddha Hall, on the hillside of Mount Wakakusa."
    </p> 
    <h5>Todai-Ji Temple <a href=https://www.tripadvisor.com/Attraction_Review-g298198-d319876-Reviews-Todai_ji_Temple-Nara_Nara_Prefecture_Kinki.html style="font-size: 15px; color:darkgray"></a></h5>
    <p>Per Wikipedia, " Tōdai-ji (東大寺, Eastern Great Temple) is a Buddhist temple complex that was once one of the powerful Seven Great Temples, located in the city of Nara, Japan. 
        Though it was originally founded in the year 738 CE, Todai-ji was not opened until the year 752 CE."
    </p> 
</p>
<h4>Takayama</h4>
<div class="beginPic">
    <img src="japanPics/taka5.jpg" style=height:250px; width:250px;>
    <img src="japanPics/taka2.jpg" style=height:250px; width:250px;>
    <img src="japanPics/taka3.jpg" style=height:250px; width:250px;>
    <img src="japanPics/taka4.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    <h5>Hida Kokubunji Temple <a href=https://www.tripadvisor.com/Attraction_Review-g298113-d4064168-Reviews-Hida_Kokubun_ji_Temple-Takayama_Gifu_Prefecture_Tokai_Chubu.html style="font-size: 15px; color:darkgray">Hida Kokubunji Temple Reviews</a></h5>
    <p>Per Wikipedia, "Hida Kokubun-ji (飛騨国分寺) is a Shingon-sect Buddhist temple in the city of Takayama, Gifu, Japan. It is one of the few surviving provincial temples established by Emperor Shōmu during the Nara period (710 – 794). 
        Due to this connection, the foundation stones of the Nara period pagoda located on temple grounds were designated as a National Historic Site by the Japanese government in 1929."
    </p> 
    <h5>Historic Sanmachi Suji  <a href=https://www.tripadvisor.com/Attraction_Review-g298113-d320175-Reviews-Sanmachi_Suji-Takayama_Gifu_Prefecture_Tokai_Chubu.html style="font-size: 15px; color:darkgray">Historic Sanmachi Suji Reviews</a></h5>
    <p>Per tripadvisor.com, "Three quaint streets comprise this popular neighborhood, tastefully dotted with alluring sake breweries, museums and miso shops."
    </p> 
    <h5>Yoshijima Heritage House <a href=https://www.tripadvisor.com/Attraction_Review-g298113-d3154259-Reviews-Yoshijima_Heritage_House-Takayama_Gifu_Prefecture_Tokai_Chubu.html style="font-size: 15px; color:darkgray">Yoshijima Heritage House Reviews</a></h5>
    <p> I stumbled upon this gem walking throught the street so Takayama. It's an older home in the traditional Janapese style.  I loved the history it this house.
    </p> 
    <h5>Hida Folk Village <a href=https://www.tripadvisor.com/Attraction_Review-g298113-d320154-Reviews-Hida_Minzoka_Mura_Folk_Village_Hida_no_Sato-Takayama_Gifu_Prefecture_Tokai_Chubu.html style="font-size: 15px; color:darkgray">Hida Folk Village Reviews</a></h5>
    <p> Per Japan-Guide.com, "Hida Folk Village (飛騨の里, Hida no Sato) is an open air museum exhibiting over 30 traditional houses from the Hida region, the mountainous district of Gifu Prefecture around Takayama. The houses were built during the 
        Edo Period (1603 - 1867) and were relocated from their original locations to create the museum in 1971."
    </p>
</p>
<h4>Tokyo</h4>
<div class="beginPic">
    <img src="japanPics/Tokyo1.JPEG" style=height:250px; width:250px;>
    <img src="japanPics/tokyo2.JPEG" style=height:250px; width:250px;>
    <img src="japanPics/tokyo3.JPEG" style=height:250px; width:250px;>
    <img src="japanPics/tokyo5.JPEG" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    <h5>Imperial Palace <a href=https://www.tripadvisor.com/Attraction_Review-g1066443-d320625-Reviews-The_East_Gardens_of_the_Imperial_Palace_Edo_Castle_Ruin-Chiyoda_Tokyo_Tokyo_Prefe.html style="font-size: 15px; color:darkgray">Imperial Palace Reviews</a></h5>
    <p> Per Wikipedia, "The Tokyo Imperial Palace (皇居, Kōkyo, literally 'Imperial Residence') is the usual residence of the Emperor of Japan. It is a large park-like area located in the Chiyoda district of the Chiyoda ward of Tokyo and contains 
        several buildings including the main palace (宮殿, Kyūden), some residences of the Imperial Family, an archive, museums and administrative offices."
    </p>
    <h5>Akihabara <a href=https://www.tripadvisor.com/Attraction_Review-g1066443-d321038-Reviews-Akihabara-Chiyoda_Tokyo_Tokyo_Prefecture_Kanto.html style="font-size: 15px; color:darkgray">Akihabara Reviews</a></h5>
    <p>Per Wikipedia, "Akihabara (Japanese: 秋葉原) is a common name for the area around Akihabara Station in the Chiyoda ward of Tokyo, Japan. Administratively, the area called Akihabara mainly belongs to the 
        Sotokanda (外神田) and Kanda-Sakumachō districts in Chiyoda."
    </p>
    <h5>Epson Teamlab Borderless Digital Art Museum <a href=https://www.tripadvisor.com/Attraction_Review-g1066449-d14450735-Reviews-TeamLab_Borderless-Koto_Tokyo_Tokyo_Prefecture_Kanto.html style="font-size: 15px; color:darkgray">Epson Teamlab Borderless Digital Art Museum Reviews</a></h5>
    <p> Super cool museum filled with lights and color.  Easily one of my favorite places in Tokyo!
    </p>
    <h5>Hozomon Gate <a href=https://www.tripadvisor.com/Attraction_Review-g14134311-d7753258-Reviews-Hozomon-Asakusa_Taito_Tokyo_Tokyo_Prefecture_Kanto.html style="font-size: 15px; color:darkgray">Hozomon Gate Reviews</a></h5>
    <p> Per Wikipedia, "The Hōzōmon (宝蔵門, "Treasure-House Gate") is the inner of two large entrance gates that ultimately leads to the Sensō-ji (the outer being the Kaminarimon) in Asakusa, Tokyo. A two-story gate (nijūmon), 
        the Hōzōmon's second story houses many of the Sensō-ji's treasures. "
    </p>
    <h5>Senso-Ji Shrine <a href=https://www.tripadvisor.com/Attraction_Review-g14134311-d320447-Reviews-Senso_ji_Temple-Asakusa_Taito_Tokyo_Tokyo_Prefecture_Kanto.html style="font-size: 15px; color:darkgray">Senso-Ji Shrine Reviews</a></h5>
    <p>Per Wikipedia, "Sensō-ji (金龍山浅草寺, Kinryū-zan Sensō-ji) is an ancient Buddhist temple located in Asakusa, Tokyo, Japan. It is Tokyo's oldest temple, and one of its most significant. Formerly associated with the Tendai sect of Buddhism, 
        it became independent after World War II. Adjacent to the temple is a five-story pagoda, the Asakusa Shinto shrine, as well as many shops with traditional goods in the Nakamise-dōri."
    </p>
    <h5>Shinjuku <a href=https://www.tripadvisor.com/Tourism-g1066457-Shinjuku_Tokyo_Tokyo_Prefecture_Kanto-Vacations.html style="font-size: 15px; color:darkgray">Shinjuku Reviews</a></h5>
    <p>Per Wikipedia, "Shinjuku (Japanese: 新宿区, Hepburn: Shinjuku-ku) is a special ward in Tokyo, Japan. It is a major commercial and administrative centre, housing the northern half of the 
        busiest railway station in the world (Shinjuku Station) and the Tokyo Metropolitan Government Building, the administration centre for the government of Tokyo. "
    </p>
</p>
</div>