<img class="introPic" src="spain1.JPEG">
<h1 class="pageTitle">Spain</h1>

<span class="scrollbox">
<h2 class=highlight>Highlights:</h2>
<ul class="scrollBox">
    Madrid Airport<br>
    Seville<br>
    <ul>
        <li>-Royal Alcazar of Seville</li>
        <li>-Plaza de Espana</li>
        <li>-Catedral de Sevilla</li>
        <li>-La Casa Del Flamenco</li>
        <li>-Triana Market</li>
        <li>-Los Gallos</li>
    </ul>
    Cordoba<br>
    <ul>
        <li>-Mosque of Cordoba</li>
        <li>-Palacio de Viana</li>
        <li>-Roman Bridge of Cordoba</li>
    </ul>
    Granada<br>
    <ul>
        <li>-Alhambra</li>
        <li>-Covid suckiness did not ruin the walks</li>
    </ul>
</ul>

<a class="btn" href="files/SpainMap.pdf" download> Download Map</a>
</span>

<h3>Quick Points:</h3>
<ul class="mainPoints">
	<li class="point">Currency is Euro</li><br>
    <li class="point">Tapas and Flamenco are a must</li><br>
    <li class="point">This is a big country. Don't tackle it all at once unless you've got a lot of time</li><br>
    <li class="point">Many people speak at least some english here!</li><br>
    <li class="point">Public transportation is great!</li><br>
    <li class="point">You will love the sour orange trees.</li><br>
</ul>

<div class="mainInfo">
<h4>Seville</h4>
<div class="beginPic">
    <img src="spainPics/sev1.jpg" style=height:250px; width:250px;>
    <img src="spainPics/sev2.jpg" style=height:250px; width:250px;>
    <img src="spainPics/sev3.jpg" style=height:250px; width:250px;>
    <img src="spainPics/sev4.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    Flying into Madrid was not the smartest thing to do considering I only had a week in this country.  
    A long train ride was the result of flying in here when I really just wanted to see Southern Spain.
    However, the train ride was gorgeous.
    <h5>Royal Alcazar of Seville <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g187443-d191139-Reviews-Real_Alcazar_de_Sevilla-Seville_Province_of_Seville_Andalucia.html  style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per Wikipedia, "The Royal Alcázars of Seville (Spanish: Reales Alcázares de Sevilla), historically known as al-Qasr al-Muriq (Arabic: القصر المُورِق‎, The Verdant Palace) and commonly known as the Alcázar of Seville (pronounced [alˈkaθaɾ]), 
        is a royal palace in Seville, Spain, built for the Christian king Peter of Castile."</p>
    <h5>Plaza de Espana <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g187443-d246510-Reviews-Plaza_de_Espana-Seville_Province_of_Seville_Andalucia.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per Wikipedia, "The Plaza de España ("Spain Square", in English) is a plaza in the Parque de María Luisa (Maria Luisa Park), in Seville, Spain. It was built in 1928 for the Ibero-American Exposition of 1929. It is a landmark example of Regionalism 
        Architecture, mixing elements of the Baroque Revival, Renaissance Revival and Moorish Revival (Neo-Mudéjar) styles of Spanish architecture."</p>
    <h5>Catedral de Sevilla <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g187443-d191137-Reviews-Catedral_de_Sevilla-Seville_Province_of_Seville_Andalucia.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per Wikipedia, "The Cathedral of Saint Mary of the See (Spanish: Catedral de Santa María de la Sede), better known as Seville Cathedral, is a Roman Catholic cathedral in Seville, Andalusia, Spain.[1] It was registered in 1987 by UNESCO as a World Heritage Site, 
        along with the adjoining Alcázar palace complex and the General Archive of the Indies.[2] It is the fourth-largest church in the world (its size remains a matter of debate) as well as the largest Gothic church."
    </p>
    <h5>La Casa Del Flamenco <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g187443-d4114622-Reviews-La_Casa_del_Flamenco-Seville_Province_of_Seville_Andalucia.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>
        This is a great Flamenco show!! Highly recommended.
    </p>
    <h5>Triana Market <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g187443-d624428-Reviews-Triana-Seville_Province_of_Seville_Andalucia.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per tripAdvisor.com, "This market was built in place of a fortress / castle used by the Spanish Inquisition (you can visit its underground ruins from the adjacent Castillo de San Jorge - free admission). Inside the market there are many 
        restaurants and bars which serve authentic food, as well as shops that sell fresh fruit, vegetables, meat, fish, bread and spices."
    </p>
    <h5>Los Gallos <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g187443-d539316-Reviews-Los_Gallos_Tablao_Flamenco-Seville_Province_of_Seville_Andalucia.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>This was my favorite Flamenco show!! Just go!</p>
</p>
<h4>Cordoba</h4>
<div class="beginPic">
    <img src="spainPics/cor1.jpg" style=height:250px; width:250px;>
    <img src="spainPics/cor2.jpg" style=height:250px; width:250px;>
    <img src="spainPics/cor3.jpg" style=height:250px; width:250px;>
    <img src="spainPics/cor4.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    <h5>Mosque of Cordoba <a href=https://www.tripadvisor.com/AttractionProductReview-g187430-d12932077-Cordoba_Mosque_Guided_Tour-Cordoba_Province_of_Cordoba_Andalucia.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per Brittanica.com, "Mosque-Cathedral of Córdoba, Spanish Mezquita-Catedral de Córdoba, also called Great Mosque of Córdoba, Islamic mosque in Córdoba, Spain, which was converted into a Christian cathedral in the 13th century. 
        Mosque-Cathedral of Córdoba, Spain. At Córdoba the earliest section of the Great Mosque was built in 785–786."
    </p>
    <h5>Palacio de Viana <a href=https://www.tripadvisor.com/Attraction_Review-g187430-d243779-Reviews-Palacio_de_Viana-Cordoba_Province_of_Cordoba_Andalucia.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per tripadvisor.com, "The Palace of Viana is a lived house until the end of 20th century by noble families but with a great popular flavor instead. One of its main attractiveness are the "patios" and the garden that 
        make it be known as Museum of the Patios."
    </p>
    <h5>Roman Bridge of Cordoba <a href=https://www.tripadvisor.com/Attraction_Review-g187430-d6895375-Reviews-Roman_Bridge-Cordoba_Province_of_Cordoba_Andalucia.html  style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per Wikipedia.com, "The Roman bridge of Córdoba is a bridge in the Historic centre of Córdoba, Andalusia, southern Spain, originally built in the early 1st century BC across the Guadalquivir river, though it has been 
        reconstructed at various times since. Most of the present structure dates from the Moorish reconstruction in the 8th century."
    </p>
</p>
<h4>Granada</h4>
<div class="beginPic">
    <img src="spainPics/gran1.jpg" style=height:250px; width:250px;>
    <img src="spainPics/gran2.jpg" style=height:250px; width:250px;>
    <img src="spainPics/gran3.jpg" style=height:250px; width:250px;>
    <img src="spainPics/gran4.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    <h5>Alhambra <a href=https://www.tripadvisor.com/Attraction_Review-g187441-d191078-Reviews-The_Alhambra-Granada_Province_of_Granada_Andalucia.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per tripadvisor.com, "The second most visited site in Europe: this breathtaking palace-city is a sophisticated blend of medieval Islamic, Renaissance Christian and modern architectural styles.."
    </p> 
    <h5>Covid suckiness</h5>
    <p> We left Spain a day early due to COVID. EVERYTHING had shut down at this point except transportation.  However, walking the streets of this 
        beautiful city was still a treat. 
    </p> 
</p>
</div>