<img class="introPic" src="thai5.JPEG">
<h1 class="pageTitle">Thailand</h1>
<span class="scrollbox">
<h2 class=highlight>Highlights:</h2>
<ul class="scrollBox">
    Bangkok Airport<br>
    Chiang Mai<br>
    <ul>
        <li>-Wat Chet Lin</li>
        <li>-Saturday Walking Night Market</li>
        <li>-Wat Phrathat Doi Suthep</li>
        <li>-Wat Phat On</li>
        <li>-Wat Umong Suan Phutthatham</li>
        <li>-Wat Suan Dok</li>
        <li>-Wat Phra Singh</li>
        <li>-Wat Chedi Luang</li>
    </ul>
    Koh Phangan<br>
    <ul>
        <li>-Getting here</li>
        <li>-Muay Thai</li>
        <li>-I'm all about the Villa</li>
    </ul>
    Bangkok<br>
    <ul>
        <li>-Markets</li>
        <li>-More Muay Thai</li>
        <li>-Lumpinee Boxing Stadium</li>
    </ul>
</ul>

<a class="btn" href="files/ThailandMap.pdf" download> Download Map</a>
</span>

<h3>Quick Points:</h3>
<ul class="mainPoints">
	<li class="point">Currency is the Thai Baht</li><br>
    <li class="point">Stray dogs are everywhere</li><br>
    <li class="point">Some of the friendliest people I have ever come across</li><br>
    <li class="point">Almost everyone speaks some basic english here!</li><br>
    <li class="point">Not always a very pedestrian friendly place</li><br>
    <li class="point">Public transportation is a hit or miss. Go with Grab(their Uber).</li><br>
</ul>

<div class="mainInfo">
<h4>Chaing Mai</h4>
<div class="beginPic">
    <img src="thaiPics/cha1.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/cha2.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/cha3.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/cha4.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    Flying into the Bankkok is the cheapest way to get into Thailand from the USA.  I wanted to start my trip to Chaing Mai so 
    I took an overnight train that left from the Bangkok airport to Chaing Mai. The trip was over 8 hours long and was quite an experience.
    Thailand is hot in the summer and it rains a lot! Be prepared! 
     
    <h5>Wat Chet Lin <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g293917-d7738004-Reviews-Wat_Chet_Lin-Chiang_Mai.html  style="font-size: 15px; color:darkgray">Wat Chet Lin Reviews</a></h5>
    <p>Per tripadvisor.com,"Wat Chet Lin (or Wat Jet Lin) is a Buddhist temple in Chiang Mai. It is located in Prapokkloa Road, inside the Chiang Mai Old City Walls. 
        It is only 350 meters away from the Famous Wat Chedi Luang."
    </p>
    <h5>Saturday Walking Night Market <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g293917-d2233777-Reviews-Saturday_Night_Market_Walking_Street_Wua_Lai_Road-Chiang_Mai.html style="font-size: 15px; color:darkgray">Night Market Reviews</a></h5>
    <p>This is a great place to walk through and shop.  I have heard the Sunday market is bigger, but I can't even imagine after seeing this.  I 
        spent at least 3-4 hours here the night I went.  Be prepared to bargain for lower prices. Vendors are definitely receptive to working out a price you want.
        I found so many cool things here!  There are also lots of food vendors.  I had the best shrimp Pad Thai here that I have ever tasted and nothing in America 
        can compare.  Musicians abound and you can even stop for a foot massage along the way if you like.  It reminds me of a chill festival
        here in the US.  
    </p>
    <h5>Wat Phrathat Doi Suthep <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g8286767-d456320-Reviews-Wat_Phra_That_Doi_Suthep-Doi_Suthep.html style="font-size: 15px; color:darkgray"> Reviews</a></h5>
    <p>Per Wikipedia, "Wat Phra That Doi Suthep is a gorgeously planned Wat with a story to tell about Buddhism. Once the Naga lined steps are surmounted (the longest Naga balustrade in Thailand), the first site one sees is the White elephant statue 
        commemorating the story behind the Wat placement. The closest entrance to the inner ring is to the left, on the North side of the complex. "
    </p>
    <h5>Wat Phat On <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g8286767-d456320-Reviews-Wat_Phra_That_Doi_Suthep-Doi_Suthep.html style="font-size: 15px; color:darkgray"> Reviews</a></h5>
    <p>Per Milesofhappiness.com, "Wat Pha Lat, a secret jungle temple in Chiang Mai. Wat Phra Lat was originally used as a resting place for people on the pilgrimage up to worship to Doi Suthep up on the mountain. 
        Then the location developed into a meditation retreat and a monk residence."
    </p>
    <h5>Wat Umong Suan Phutthatam <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g293917-d456322-Reviews-Wat_Umong-Chiang_Mai.html style="font-size: 15px; color:darkgray"> Reviews</a></h5>
    <p>Per Wikipedia, "Wat Umong is located against the mountains of Doi Suthep and is about 1 km south of the main campus of Chiang Mai University. The wat occupies a tranquil setting and a small open zoo is stationed behind it."
    </p>
    <h5>Wat Phra Singh <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g293917-d447648-Reviews-Wat_Phra_Singh-Chiang_Mai.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per tripadvisor.com, "Wat Pra Sing is a Buddhist temple located almost on Chiang Rai city center and was built in 14th century. It has a Calm & Relaxing area. If you travel to North of Thailand its 
        recommended for Visiting and Meditating. You can find there many Buddha images and Buddhist elements."</p>
    <h5>Wat Chedi Luang <a id="link" href=https://www.tripadvisor.com/Attraction_Review-g293917-d447585-Reviews-Wat_Chedi_Luang_Varavihara-Chiang_Mai.html style="font-size: 15px; color:darkgray">Reviews</a></h5>
    <p>Per tripadvisor.com, "Wat Chedi Luang Varavihara is located in the centre of the walled City. The temple's was constructed in the 14th century. King Saen Muang Ma planned to bury his father's ashes there.
         After 10 years they left it unfinished."</p>
</p>
<h4>Koh Phangan</h4>
<div class="beginPic">
    <img src="thaiPics/koh1.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/koh2.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/koh3.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/koh4.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    <h5>Getting Here </h5>
    <p>This is not the easiest of trips.  I came from Chaing Mai so this involved another 9 hour overnight train ride to Bangkok.
        An 8 hour layover in Bangkok.  Another 8 hour overnight trainride to Surat Thani followed by a Bus ride and a Katamaran.
        All worth it!!! The most beautiful place ever!!!!
    </p>
    <h5>Muay Thai</h5>
    <p>One of the best parts of Thailand is the muay thai training. I found a place down the road called Diamond Muay Thai
        and got a few private lessons.  As always, everything is super cheap so there are no down sides.  
    </p>
    <h5>It's all about the Villa <a href=https://www.tripadvisor.com/Hotel_Review-g303907-d3519486-Reviews-Kupu_Kupu_Phangan_Beach_Villas_and_Spa_by_l_Occitane-Ko_Pha_Ngan_Surat_Thani_Province.html style="font-size: 15px; color:darkgray">Great Hotel</a></h5>
    <p>
        I attached a link to the hotel I stayed at.  All I wanted for this island was to relax and this hotel hit the spot.  I splurged on a villa.
        BEST DECISION EVER!!! I highly recommend. 
    </p>
</p>
<h4>Bangkok</h4>
<div class="beginPic">
    <img src="thaiPics/bang1.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/bang2.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/bang3.jpg" style=height:250px; width:250px;>
    <img src="thaiPics/bang4.jpg" style=height:250px; width:250px;>
</div>
<br>
<br>
<p>
    <h5>Markets</h5>
    <p>As in Chiang Mai, the markets here are everything! Super cheap stuff that's just cool.  
    </p> 
    <h5>Lumpinee Boxing <a href=https://www.tripadvisor.com/Attraction_Review-g293916-d557923-Reviews-Lumpinee_Boxing_Stadium-Bangkok.html style="font-size: 15px; color:darkgray"></a>Reviews</h5>
    <p>Per Muaythaistadium.com, "Lumpinee Boxing Stadium in Bangkok is one of the two most important Muay Thai Stadiums in Thailand - in the world in fact. 
        The stadium stages boxing matches every Tuesday, Friday, and Saturday "
        I'd spring for the ringside tickets.
    </p> 
    <h5>More Muay Thai <a href=https://www.hotels.com/go/thailand/great-bangkok-muay-thai-gyms style="font-size: 15px; color:darkgray"></a>Gyms to check out</h5>
    <p>As always, go get in some muay thai!
    </p> 
</p>
</div>